@model IEnumerable<MotorWorld.DataAccessLayer.BikesOwned>

</br>

<table>
    <tr>
        <th>
            Member
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeType.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeType.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeType.Year)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeType.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeType.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeType.Year)
            </td>
        </tr>
    }
</table>
